<div class="container">
    <h1 class="text-center">Sign Up</h1>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form name='regForm' novalidate>

        <input type="text" name="firstname" placeholder="First Name"
          ng-model="signUpCtrl.user.firstname"
          required style="color:black;"
          minlength="4">
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            Username must be at least 4 characters long
          </span>
          <br>

        <input type="text" name="lastname" placeholder="Last Name"
          ng-model="signUpCtrl.user.lastname"
          required style="color:black;"
          minlength="4">
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Username must be at least 4 characters long
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="signUpCtrl.user.email" style="color:black;"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signUpCtrl.user.phone" style="color:black;"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input type="text" name="menuItem" placeholder="Favorite Menu Item"
          ng-model="signUpCtrl.user.mealid" style="color:black;"
          required>
          <span ng-if="(regForm.menuItem.$invalid && regForm.menuItem.$touched) ||
          (signUpCtrl.foundItem.name=='none')">
            Enter Menu Item (e.g. L1) or any short name from this <a href="https://davids-restaurant.herokuapp.com/menu_items.json" target="_blank">list</a>
          </span>
          <!-- <span ng-if="signUpCtrl.foundItem.name=='none'">
            Enter Menu Item (e.g. L1) or any short name from this <a href="https://davids-restaurant.herokuapp.com/menu_items.json" target="_blank">list</a>
          </span> -->
          <span ng-if="signUpCtrl.foundItem.name && signUpCtrl.foundItem.name!='none'">
            {{signUpCtrl.foundItem.name}}
          </span>
          <br>

        <button type="button" class="btn btn-outline-primary"
          ng-disabled="regForm.$invalid"
          ng-click="signUpCtrl.submit()">Submit</button>

      </form>
      <div class="alert alert-success" role="alert" ng-if="signUpCtrl.completed">
        Your information has been saved
      </div>
    </div>
</div>
